<div class="container m-5">
  <h2 class="mb-5 text-white bg-dark p-2 pb-3 text-center"> {{pageTitle}} </h2>
  <table class="mb-5 table table-striped text-center">
    <thead>
      <tr>
        <th scope="row">NOM</th>
        <th scope="row">Prénom</th>
        <th scope="row">Nom utilisateur</th>
        <th scope="row">Mot de passe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{userDetail.lastname | uppercase}} </td>
        <td> {{userDetail.firstname}} </td>
        <td> {{userDetail.username}} </td>
        <td> {{userDetail.password}} </td>
      </tr>
    </tbody>
  </table>
  <div class="buttons d-flex align-items-start">
    <a class="btn btn-primary m-3" [routerLink]="['/edit-user', userDetail.user_id]">Éditer la fiche</a>
    <a class="btn btn-danger m-3" (click)="deleteUser(userDetail.user_id)">Supprimer la fiche</a>
  </div>
  <a class="btn btn-success m-3" routerLink="/dashboard">Retour à la liste des abonnés</a>
</div>

